.tooltip-inner {
    white-space:pre-wrap !important;
}
footer{
	color: #fff;
	/*position: fixed;
    height: 100px;*/
    bottom: 0;
    width: 100%;
}
footer a{
	color: #bfffff;
}
footer a:hover{
	color: white;
}

.footer-bottom{
	background: #3d6277;
	padding: 1em;
	text-align: center;
	position:relative;
}

#banner {
	width: 100% !important;
	height: 350px !important;
}

#img-pic {
	width: 10%;
    height: auto;
    position: relative;
    margin-left: 43%;
    margin-top: -8%;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
