<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}} | Python Programming Language</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='robots' content='noindex,nofollow' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
		<script>
			Pusher.logToConsole = true;
			var pusher = new Pusher('0d3d93458b799c00839c', {
				cluster: 'ap1',
				encrypted: true
			});
			var channel = pusher.subscribe('my-channel');
			channel.bind('my-event', function(data) {
				alert(data.message);
			});
		</script>
	</head>
	<body>
		<br>
		<div class="container">
			{% block body %} {% endblock %}
		</div>
	</body>
	<br>
	<footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/function.js') }}"></script>
	</footer>
</html>
