<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Python Programming Language</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='robots' content='noindex,nofollow' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<img class="img-fluid" id="banner" src="{{ url_for('static', filename='img/wp1828955.jpg') }}">
		<img src="{{ url_for('static', filename='img/profile-me.jpg') }}" class="rounded-circle" alt="Cinque Terre" id="img-pic">
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<legend class="list-group-item list-group-item-action active"><i class="fa fa-language" aria-hidden="true"></i> Programming Language</legend>
						{% for p in TOPIC_DICT["Programming"] %}
							<a class="list-group-item list-group-item-action" href="{{ p[1] }}">{{ p[0] }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<legend class="list-group-item list-group-item-action active"><i class="fa fa-database" aria-hidden="true"></i> Databases</legend>
						<span class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">MySQL</span>
						<span class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab" aria-controls="profile">MSSQL</span>
						<span class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" role="tab" aria-controls="messages">SQLite</span>
						<span class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab" aria-controls="settings">MongoDB</span>
					</div>
				</div>
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<legend class="list-group-item list-group-item-action active"><i class="fa fa-folder"></i> Frameworks</legend>
						{% for f in TOPIC_DICT["Frameworks"] %}
							<span class="list-group-item list-group-item-action" data-placement="right" data-toggle="tooltip" title="{{ f[1] }}">{{ f[0] }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
			<br />
			<div class="dropdown-divider"></div>
			<br />
			<div class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<legend class="list-group-item list-group-item-action active"><i class="fa fa-address-card" aria-hidden="true"></i> Character References</legend>
						{% for r in TOPIC_DICT["References"] %}
							<span class="list-group-item list-group-item-action" data-placement="left" data-toggle="tooltip" title="{{ r[1] }}">{{ r[0] }}</span>
						{% endfor %}
					</div>
				</div>
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<legend class="list-group-item list-group-item-action active"><i class="fa fa-building" aria-hidden="true"></i> Previous Company</legend>
						{% for c in TOPIC_DICT["Company"] %}
							<span class="list-group-item list-group-item-action" data-placement="left" data-toggle="tooltip" title="{{ c[1] }}">{{ c[0] }}</span>
						{% endfor %}
					</div>
				</div>
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<legend class="list-group-item list-group-item-action active"><i class="fa fa-trophy"></i> Accomplishment</legend>
						{% for a in TOPIC_DICT["Accomplishment"] %}
							<a class="list-group-item list-group-item-action" href="{{ a[1] }}">{{ a[0] }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<br />
			<div class="dropdown-divider"></div>
			<br />
			<div class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<legend class="list-group-item list-group-item-action active"><i class="fa fa-phone" aria-hidden="true"></i> Contact me</legend>
						{% for m in TOPIC_DICT["Contactme"] %}
							<a class="list-group-item list-group-item-action" href="{{ m[1] }}">{{ m[0] }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="col-8">
					<div class="list-group" id="list-tab" role="tablist">
						<legend><i class="fa fa-envelope-o" aria-hidden="true"></i> Message me</legend>
						<form action="" method="POST">
							<input type="text" name="name" placeholder="Your Name" class="form-control">
							<textarea placeholder="Your Message" class="form-control"></textarea>
							<br />
							<input type="submit" name="submit" class="btn btn-info">
						</form>
					</div>
				</div>
			</div>
		</div>
		<br />
		<footer class="fixed-bottom-try">
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6 mx-auto">
									<!--Footer Bottom-->
									<p class="text-xs-center">&copy; Copyright {{y}} Portfolio.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/function.js') }}"></script>
</html>