{% extends "header.html" %}

{% block body %}
	<div class="row">
		<div class="offset-lg-2 col-lg-8 col-sm-8 col-8 border rounded main-section">
	        <h3 class="text-center text-inverse">Registration Form</h3>
	        <hr>
	        {% from "_formhelpers.html" import render_field %}
	        <form method=post action="" class="container" id="needs-validation" novalidate>
	        	{{ form.csrf_token }}
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-12">
						<div class="form-group">
							<label class="text-inverse" for="validationCustom01">First Name</label>
							{{form.firstname(class_="form-control",placeholder="First Name",required="required")}}
							<div class="invalid-feedback">
								Please provide a valid First Name.
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-12">
						<div class="form-group">
							<label class="text-inverse" for="validationCustom02">Last Name</label>
							{{form.lastname(class_="form-control",placeholder="Last Name",required="required")}}
							<div class="invalid-feedback">
								Please provide a valid Last Name.
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-12">
						<div class="form-group">
							<label class="text-inverse" for="validationCustom02">Username</label>
							{{form.username(class_="form-control",placeholder="Username",required="required")}}
							<div class="invalid-feedback">
								Please provide a valid Username.
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-12">
						<div class="form-group">
							<label class="text-inverse" for="inputEmail4">Email</label>
							{{form.email(class_="form-control",placeholder="Email Address",required="required")}}
							<div class="invalid-feedback">
								Please provide a valid Email.
							</div>
						</div>  
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-12">
						<div class="form-group">
							<label class="text-inverse" for="inputpassword">Password</label>
							{{form.password(class_="form-control",placeholder="Password",required="required")}}
							<div class="invalid-feedback">
								Please provide a valid password.
							</div>
						</div>  
					</div>
					<div class="col-lg-6 col-sm-6 col-12">
						<div class="form-group">
							<label class="text-inverse" for="inputpassword">Password</label>
							{{form.confirm(class_="form-control",placeholder="Confirm Password",required="required")}}
							<div class="invalid-feedback">
								Please provide a valid confirm password.
							</div>
						</div>  
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-12">
						<div class="form-group">
							<label class="text-inverse" for="validationCustom03">Address</label>
							{{form.address(class_="form-control",placeholder="Your Address",required="required")}}
							<div class="invalid-feedback">
								Please provide a valid city.
							</div>
						</div>  
					</div>
					<div class="col-lg-6 col-sm-6 col-12">
						<div class="form-group">
							<label class="text-inverse" for="select-menu">Select Role</label>
							<select name="role" class="custom-select d-block form-control" id="image" required>
								{% for roles in role %}
									<option value="{{roles[0]}}">{{roles[1]}}</option>
								{% endfor%}
							</select>
							<div class="invalid-feedback">
								Please selected any option.
							</div>
						</div>  
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-12 text-center">
	    				<button class="btn btn-info" type="submit">Submit form</button>
					</div>
				</div>
	        </form>
		</div>
    </div>
{% endblock %}